

<% if current_user_id == dog_owner_id%>
    <h1>Your Profile</h1>
<% else %>
    <h1>Meet...</h1>
<% end %>


<h2><%= name %></h2>

<img class ="profile_pic" src=<%= image_url %> alt="" srcset="">
<p><b>Age:</b> <%= age %></p>
<p><b>Gender:</b> <%= gender %></p>
<p><b>Breed:</b> <%= breed %></p>
<p><b>About Me:</b> <%= bio %></p>
<p><b>Location: </b><%= loc_suburb %>, <%= loc_state %>, <%= loc_country %></p>
<br>
<% if current_user_id == dog_owner_id%>
    <%# edit button %>
    <a class ="edit_button" href="/dogs/<%= dog_id %>/edit">Edit Profile</a>
    <%# delete button %>
    <form class="delete_button" action="/dogs/<%= dog_id %>" method ="post">
        <input type="hidden" name="_method" value ="delete">
        <button>Delete Account</button>
    </form>
<% else %>
    <%# message button %>
    <a class="message_button"href="/dogs/<%= dog_id %>/messages">Message Me</a>   
<% end %>

